.webbook-toc-section{

}
.webbook-toc-section.level_3{
    margin-left: 1em;
}
.webbook-toc-section.level_4{
    margin-left: 2em;
}
.webbook-toc-section.level_5{
    margin-left: 3em;
}
.webbook-toc-section.level_6{
    margin-left: 4em;
}
.webbook-toc-section.level_7{
    margin-left: 5em;
}
.webbook-toc-section.level_8{
    margin-left: 6em;
}
.webbook-toc-section.level_9{
    margin-left: 7em;
}
.webbook-toc-section.level_10{
    margin-left: 8em;
}